@import "~leaflet/dist/leaflet.css";

.index {

  &__introduction, &__organizers, &__schedule, &__sponsors, &index__nominees {

    .widget__heading {
      text-transform: uppercase;
      font-weight: bolder;
    }

    .textwidget {
      font-weight: 300;

      figure {
        max-width: 100%;
        display: block;
      }
    }
  }

  &__introduction {
      padding-top: 10vh;
  }

  &__schedule {
    padding-bottom: 10vh;

    iframe {
      width: 660px; 
      height: 462px;
    }

    &__widgets {

      .widget:not(:last-of-type)::before {
        content:"";
        position: absolute;
        top: $spacer;
        bottom: - $spacer;
        left: $spacer * 0.75;
        width:  $spacer * 0.5;
        background: rgba($text-muted, 0.5);
      }

      .widget--schedule {
        padding-bottom: $spacer * 2;
        padding-left: $spacer * 4;
        position: relative;

        .widget__heading {
          &::after {
            content:"";
            position: absolute;
            left: 0;
            height: $spacer * 2;
            width: $spacer * 2;
            border-radius: $spacer;
            background: $text-muted;
            box-shadow: 0 0 0 $spacer * 0.5 rgba($text-muted, 0.25);
          }
        }
      }
    }
  }

  &__organizers, &__nominees {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }

  &__teaser {
    padding:  $spacer 0;
    max-width: 770px;
    margin: $spacer * 3 auto;

    &__wrapper {
      margin: auto;
      position: relative;
      padding-top: (9/ 16) * 100%;
      background: $text-muted;
      box-shadow: -1 * $spacer 0 0 0 $text-muted,
                  0 -1 * $spacer 0 0 $text-muted,
       -1 * $spacer -1 * $spacer 0 0 $text-muted,
           $spacer 0 0 0 darken($text-muted, 10),
           0 $spacer 0 0 darken($text-muted, 10),
     $spacer $spacer 0 0 darken($text-muted, 10);

      &__video {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__location {
    max-height: 660px;
    height: 80vh;

    .leaflet-popup {
      filter: drop-shadow($spacer $spacer 0 rgba(black, 0.2));

      &-content-wrapper, &-tip-container, &-tip {
        border-radius: 0;
        box-shadow: none;
        border: 0;
        padding: 0;
      }

      &-tip {
        background: theme-color('primary');
      }

      &-content {
        font-family: $font-family-base;
        margin: 0;
        width: 100%;
        max-width: 550px;
      }

      &__addr {
        font-size: 0.8rem;
        padding: $spacer;
      }
    }
  }

  &__links {
    margin: $spacer;

    &__section {
      padding-top: 10vh;
      padding-bottom: 10vh;

      &--last-edition {
        background: url('../images/edition-2017.jpg') no-repeat center center;
        background-size: cover;
      }

      &__lead {
        @extend .lead;

        max-width: 440px;
        margin: auto;
        margin-bottom: $spacer * 2;
      }
    }

  }

  &__sponsors {
    margin: $spacer;
    text-align: center;
    color: $text-muted;

    .widget--sponsors {

      .widget__heading {
        margin-top: $spacer * 2;
        margin-bottom: 0;
      }

      &.widget_media_image {
        position: relative;
        display: block;
        width: 170px;
        height: 170px;
        line-height: 170px;
        display: inline-block;
        margin: 0 $spacer * 2 $spacer;

        .widget__heading {
          @extend .d-none;
        }

        img {
          display: inline-block;
          max-width:100%;
          max-height:100%;
        }
      }
    }
  }
}
