.header {

  & > .navbar:before {
    min-height: 70px;
    content:"";
  }

  &__nav {
    @extend .navbar-nav;

    li {
      @extend .nav-item;


      @include media-breakpoint-up(lg) {
        &.current-menu-item a {
          box-shadow: 0 3px 0 0 theme-color('primary');
        }
      }
    }

    .header .navbar.navbar-light & li {
      @extend .nav-item;

      &.menu-item > a , .dropdown-toggle {
        @extend .nav-link;
        padding-left: $spacer * .5;
        padding-right: $spacer * .5;
        text-transform: uppercase;
        font-family: $headings-font-family;
        color: theme-color('primary');
      }
    }

    .dropdown {

      &-menu {
        padding:0;

        li {
          @extend .dropdown-item;

          a {
            color: $link-color;
          }

          &:focus, &:active {
            background: $text-muted;
          }
        }
      }
    }
  }

}
