.pages {
  padding:4rem 0;

  &__header, &__content {
      max-width: 740px;
      margin: auto;
      padding:0 $spacer;
  }

  &__header {
    padding: 4rem $spacer $spacer;
    margin-bottom: 4rem;

    background: $text-muted;
    box-shadow: $spacer $spacer 0 0 theme-color('tertiary');

    .vote &, .page-id-155 & {
      display: none;
    }
  }

  &__content {
    font-size: 1.2rem;
  }

  &--awards-categories {
    padding-bottom:0;


    &__menu, &__list {
      padding: 4rem 0;

      a {
        color: theme-color('tertiary');
      }

    }

    &__menu {
      color: white;
      background: darken(theme-color('primary'), 15%);

      & > * {
        max-width: 740px;
        margin: auto;
        padding:0 $spacer;
      }
    }

    &__list {
      margin: 0;
      background: darken(theme-color('primary'), 10%);
      color: white;

      &__item {
        padding:$spacer * 2 0 $spacer * 4;

        &__heading, &__description, &__inter {
          max-width: 740px;
          margin: auto;
          padding:0 $spacer $spacer;
        }

        &__heading {
          position: relative;

          &::after {
            content:"";
            position: absolute;
            bottom:$spacer * 2;
            left:$spacer;
            min-width:20px;
            width: 10%;
            border-bottom:3px solid white;
          }
        }

        &__description {
          font-size: 1.2rem;
          color:rgba(white, .8);
        }

        &__inter {
          text-align: center;
          text-transform: uppercase;
        }

        &__nominees {
          max-width: 740px;
          margin: auto;
          @include media-breakpoint-up(lg) {
            max-width: map-get($container-max-widths, 'xl');
          }

          &__item {
            position: relative;
            margin-bottom: $spacer * 2;

            &__name {
              z-index: 10;
              font-weight: bold;
              font-family: $headings-font-family;
            }

            &__thumbnail {
              position: relative;
              overflow: hidden;
              z-index: 0;
              padding-top: (9 / 16) * 100%;
              box-shadow: $spacer $spacer 0 0 rgba(white, 0.2);

              img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: auto;
                min-width: 100%;
                min-height: 100%;
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
  }
}
