 @import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Oswald:400,600');

/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$primary: #89008E;
$secondary: #FFC465;
$tertiary: #D03C9A;
$dark: #44414F;
$light: #fcfcfc;
$text-muted: #d7e3e6;

$theme-colors: (
  tertiary: $tertiary
);

$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-family: 'Oswald', $font-family-sans-serif;

$enable-rounded: false;
$enable-print-styles: false;
